@model IEnumerable<ARM.Models.Renter>
@{
    ViewBag.Title = "Index";
}

<h2>Льготы</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Процент</th>
            <th>Id квартиросъемщика</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NamePriv</td>
                <td>@item.Procent</td>
            </tr>
        }
    </tbody>
</table>


