@model ARM.Models.Servis

@{
    ViewBag.Title = "Index";
}

<h2>Цены на услуги</h2>


@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Название:</label>
        @Html.EditorFor(x => x.Name, new { @class = "form-control" })

        <label>Цена</label>
        @Html.LabelFor(x => x.Price, new { @class = "form-control" })

        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Сохранить" />
        </div>

    </div>


}


<div>
    @Html.Partial("_Price")
</div>
